@charset "UTF-8";

.c-heading__ttl {
  font-size: 30px;
}

.c-heading__ttl-white {
  color: #fff;
}

.c-nav-list {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  gap: 20px;
}

.c-logo img {
  width: 40px;
}

.l-header {
  background-color: yellow;
}

.l-header__inner {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  height: 60px;
  justify-content: space-between;
}

.l-header__ttl {
  font-size: 24px;
}

.l-footer__inner {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  height: 60px;
  justify-content: space-between;
}

.l-footer__logo::before {
  content: "🌈";
  font-size: 60px;
}

.l-footer__copyright {
  display: block;
  margin-block: 16px;
  text-align: center;
}

body {
  color: #333;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  padding-inline: 40px;
  width: 85.9375vw;
}

.p-about {
  border-bottom: 2px solid #ddd;
  padding-block: 60px;
  text-align: center;
}

.p-about__container {
  border-radius: 30px;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 40%);
  margin: 0 auto;
  margin-top: 60px;
  max-width: 680px;
  padding: 40px;
}

.p-about__container-ttl {
  font-size: 20px;
}

.p-about__container-lists {
  margin-top: 30px;
}

.p-about__container-list + .p-about__container-list {
  margin-top: 20px;
}

.p-flow {
  background: url("/img/oken-img.jpg") no-repeat top center/cover;
  padding-block: 60px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 0;
}

.p-flow::before {
  background-color: rgb(0 0 0 / 50%);
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.p-flow__container {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flexbox;
  display: flex;
  -ms-flex-pack: center;
  gap: 60px;
  justify-content: center;
}

.p-flow__container-box {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 40%);
  margin-top: 60px;
  padding: 40px;
}

.p-flow__container-ttl {
  font-size: 20px;
}

.p-flow__container-lists {
  margin-top: 30px;
}

.p-flow__container-list + .p-flow__container-list {
  margin-top: 20px;
}
